:root {
}

.panel-background {
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}

.window {
    flex-grow: 1;
    background-color: rgb(83, 83, 83);
    margin-top: 50px;
    margin-right: 100px;
    margin-bottom: 50px;
    margin-left: 100px;
}

.hidden {
}
